header{
    background-color: #df0000;
color: #3b00df;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

main{
background-color: #df0000;
color: #00d0df;
max-width: 800px;
margin: 0 auto;
padding: 16px;
display: flex;
}

img{
width: 80px;
height: 80px;

}
